<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ioService" class="ru.otus.avidzba.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="testFileNameProvider" class="ru.otus.avidzba.config.AppConfig">
        <constructor-arg index="0"
                         value="hw01/src/main/resources/questions.csv"/>
    </bean>

    <bean id="questionDao" class="ru.otus.avidzba.dao.CsvQuestionDao">
        <constructor-arg index="0" ref="testFileNameProvider"/>
    </bean>

    <bean id="testService" class="ru.otus.avidzba.service.TestServiceImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="questionDao"/>
    </bean>

    <bean id="testRunnerServiceImpl" class="ru.otus.avidzba.service.TestRunnerServiceImpl">
        <constructor-arg index="0" ref="testService"/>
    </bean>

</beans>
